
<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>


<button pButton    
        (click)="mostrarNombre()"
        label="Cambiar Nombre"
        class="p-button-help"
        icon="pi pi-check" 
        iconPos="right">
</button>

<p-card [header]="nombre | titlecase" 
        subheader="Esto es un subheader">
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur repudiandae nostrum molestias sint, obcaecati accusamus officiis suscipit minima rerum dolor ipsa, quis dignissimos? Animi suscipit, alias debitis eum nesciunt voluptatum.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>